:root {
    box-sizing: border-box;
}
nav {
    display:flex;
}
header footer {
    display:flex;
    justify-content: center;
}
.nav { 
padding-right:.5rem;
width: 15rem;
display:flex;
border: black 1px solid;
}

a { text-decoration:
font-size: 1.25rem;
}

li{
    list-style-type: none
}

a > img {
    height: 18rem;
    margin: 4px;
}
.speciesdiv{
    display:flex;
}
