:root {
    box-sizing: border-box;
}

.container {
    display: flex;
}
nav {
    display:flex;
}

.nav { 
padding-right:.5rem;
width: 15rem;
display:flex;
}

a { text-decoration:
font-size: 1.25rem;
}

li{
    list-style-type: none
}

a > img {
    height: 18rem;
    margin: 4px;
}
.speciesdiv{
    display:flex;
}